<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<head>
    <title>Crear Cargo</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<div layout:fragment="content">
    <h1>Crear nuevo Cargo</h1>
    <form th:action="@{/cargos/save}" th:object="${cargo}" method="post">
        <br>
        <div class="row g-2">
            <div class="form-floating mb-3 col-md-6">
                <input type="text" class="form-control" th:field="*{nombre}" id="nombre" required>
                <label  for="nombre">Nombre</label>
            <div class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
            </div>
        </div>
        <hr>
        <button type="submit" class="btn btn-primary">Guardar</button> |
        <a th:href="@{/cargos}" class="btn btn-secondary">Regresar</a>
    </form>
</div>
</html>
