<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout"
>

<head>
    <title>Lista Cargos</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div layout:fragment="content">
    <h1>Lista de Cargos</h1>
    <a th:href="@{/cargos/create}" class="btn btn-outline-primary mb-3">Nuevo Cargo</a>
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cargo : ${cargo}">
            <td th:text="${cargo.nombre}"></td>
            <td>
                <a th:href="@{/cargos/edit/{id}(id=${cargo.id})}" class="btn btn-secondary">Editar</a> |
                <a th:href="@{/cargos/remove/{id}(id=${cargo.id})}" class="btn btn-danger">Eliminar</a> |
                <a th:href="@{/cargos/details/{id}(id=${cargo.id})}" class="btn btn-info">Detalle</a>
            </td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item" th:classappend="${cargo.pageable.pageNumber == 0} ? 'disabled'">
                <a class="page-link" th:href="@{/cargos(page=${cargo.pageable.pageNumber - 1}, size=${cargo.pageable.pageSize})}">Anterior</a>
            </li>

            <li class="page-item" th:each="pageNum : ${pageNumbers}"
                th:if="${pageNum >= cargo.pageable.pageNumber - 2} and ${pageNum <= cargo.pageable.pageNumber + 2}"
                th:classappend="${pageNum == cargo.pageable.pageNumber + 1} ? 'active'">
                <a class="page-link" th:href="@{/cargos(page=${pageNum}, size=${cargo.pageable.pageSize})}"
                   th:text="${pageNum}">1</a>
            </li>

            <li class="page-item" th:classappend="${cargo.pageable.pageNumber + 1 == cargo.totalPages} ? 'disabled'">
                <a class="page-link" th:href="@{/cargos(page=${cargo.pageable.pageNumber + 1}, size=${cargo.pageable.pageSize})}">Siguiente</a>
            </li>
        </ul>
    </nav>
</div>

</body>

</html>