<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<head>
    <title>Crear Departamento</title>
</head>
<div layout:fragment="content">
    <h1>Crear nuevo Departamento</h1>
    <form th:action="@{/departamentos/save}" th:object="${departamento}" method="post">
        <br>
        <div class="row g-2">
        <div class="form-floating mb-3 col-md-4">
            <input type="text"  class="form-control"  th:field="*{codigo}" id="codigo" required>
            <label for="codigo">Codigo</label>
            <div class="text-danger" th:if="${#fields.hasErrors('codigo')}" th:errors="*{codigo}"></div>
        </div>
        <div class="form-floating col-md-6">
            <input type="text"  class="form-control"  th:field="*{nombre}" id="nombre" required>
            <label for="nombre">Nombre</label>
            <div class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
        </div>
        </div>
        <hr>
        <button type="submit" class="btn btn-primary">Guardar</button> |
        <a th:href="@{/departamentos}" class="btn btn-secondary">Regresar</a>
    </form>
</div>
</html>
