
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<head>
    <title>Eliminar Rol</title>
</head>

<div layout:fragment="content">
    <h1>Eliminar Rol</h1>
    <h2>¿Está seguro que desea eliminar este registro?</h2>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2 h3">Nombre:</dt>
            <dd class="col-sm-10 h3" th:text="${rol.nombre}"></dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2 h3">Descripcion:</dt>
            <dd class="col-sm-10 h3" th:text="${rol.descripcion}"></dd>
        </dl>


        <form th:action="@{/roles/delete}" method="post">
            <input type="hidden" name="id" th:value="${rol.id}">
            <button type="submit" class="btn btn-danger">Eliminar</button> |
            <a th:href="@{/roles}" class="btn btn-secondary">Regresar</a>
        </form>
    </div>
</div>

</html>
