
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<head>
    <title>Eliminar Tipo de item</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<div layout:fragment="content">
    <h1>Eliminar Tipo de item</h1>
    <h2>¿Está seguro que desea eliminar este registro?</h2>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2 h3">Codigo:</dt>
            <dd class="col-sm-10 h3" th:text="${tipoitem.codigo}"></dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2 h3">Nombre:</dt>
            <dd class="col-sm-10 h3" th:text="${tipoitem.nombre}"></dd>
        </dl>

        <form th:action="@{/tipoitems/delete}" method="post">
            <input type="hidden" name="id" th:value="${tipoitem.id}">
            <button type="submit" class="btn btn-danger">Eliminar</button> |
            <a th:href="@{/tipoitems}" class="btn btn-secondary">Regresar</a>
        </form>
    </div>
</div>

</html>
