<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<head>
    <title>Editar tipo item</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<div layout:fragment="content">
    <h1>Editar tipo item</h1>
    <form th:action="@{/tipoitems/save}" th:object="${tipoitem}" method="post">
        <input type="hidden" th:field="*{id}">
        <br>
        <div class="row g-2">
                <div class="form-floating mb-3 col-md-4">
                    <input type="text" class="form-control" th:field="*{codigo}" id="codigo" placeholder="Escriba el codigo" required>
                    <label for="codigo">Codigo</label>
                </div>
                <div class="form-floating col-md-6">
                    <input type="text" class="form-control" th:field="*{nombre}" id="nombre" placeholder="Escriba el nombre" required>
                    <label for="nombre">Nombre</label>
                </div>
        </div>
        <hr>
        <button type="submit" class="btn btn-primary">Guardar</button> |
        <a th:href="@{/tipoitems}" class="btn btn-outline-secondary">Regresar</a>
    </form>
</div>

</html>