<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      >

<head>
    <title>Editar tipo item</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<div>
    <h1>Editar tipo item</h1>
    <form th:action="@{/tipoitems/save}" th:object="${tipoitem}" method="post">
        <input type="hidden" th:field="*{id}">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="codigo">Codigo</label>
                    <input type="text" class="form-control" th:field="*{codigo}" id="codigo" placeholder="Escriba el codigo" required>
                </div>
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" th:field="*{nombre}" id="nombre" placeholder="Escriba el nombre" required>
                </div>
            </div>
        </div>
        <hr>
        <button type="submit" class="btn btn-primary">Guardar</button> |
        <a th:href="@{/tipoitems}" class="btn btn-outline-secondary">Regresar</a>
    </form>
</div>

</html>