
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<head>
    <title>Eliminar Categoria</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<div layout:fragment="content">
    <h1 class="h1">Eliminar Categoria</h1>
    <h2 class="2">¿Está seguro que desea eliminar este registro?</h2>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2 h3">Nombre:</dt>
            <dd class="col-sm-10 h3" th:text="${categoria.nombre}"></dd>

            <dt class="col-sm-2 h3">Descripcion:</dt>
            <dd class="col-sm-10 h3" th:text="${categoria.descripcion}"></dd>
        </dl>

        <form th:action="@{/categorias/delete}" method="post">
            <input type="hidden" name="id" th:value="${categoria.id}">
            <button type="submit" class="btn btn-danger">Eliminar</button> |
            <a th:href="@{/categorias}" class="btn btn-secondary">Regresar</a>
        </form>
    </div>
</div>

</html>
