<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<head>
    <title>Detalles Rol</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<div layout:fragment="content">
    <h1>Detalles ItemProveedor</h1>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2 h3">Item:</dt>
            <dd class="col-sm-10 h3" th:text="${Objeto_Obtenido.item.nombre}"></dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2 h3">Proveedor:</dt>
            <dd class="col-sm-10 h3" th:text="${Objeto_Obtenido.proveedor.nombre}"></dd>
        </dl>


        <a th:href="@{/itemproveedor/edit/{id}(id=${Objeto_Obtenido.id})}" class="btn btn-outline-info">Editar</a> |
        <a th:href="@{/itemproveedor/index}" class="btn btn-outline-secondary">Regresar</a>
    </div>

</div>

</html>
